In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('matmul_speedup.csv')
df.columns = ['Dimensions', 'Blocks', 'Threads', 'Time']
df.head()

   Dimensions  Blocks  Threads  Time
0         256     128        1  0.12
1         256      64        2  0.13
2         256      32        3  0.13
3         256      16        4  0.12
4         256       8        5  0.13

In [3]:
df.tail()

     Dimensions  Blocks  Threads  Time
346        8192     128        6  0.31
347        8192      64        7  0.29
348        8192      32        8  0.29
349        8192      16        9  0.30
350        8192       8       10  0.34

In [7]:
strs = df[['Dimensions', 'Threads', 'Time']][df['Threads'] == 1]

In [9]:
indices = strs.index.tolist()
indices

[0,
 11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 99,
 110,
 121,
 132,
 143,
 154,
 165,
 176,
 187,
 198,
 209,
 220,
 231,
 242,
 253,
 264,
 275,
 286,
 297,
 308,
 319,
 330,
 341]

In [10]:
speedup = df['Time'].tolist()
times = df['Time'].tolist()
count = 0
for i in range(len(speedup)):
    if i > 0 and i in indices:
        count += 1
    speedup[i] /= times[indices[count]]

df['Speedup'] = np.array(speedup).T

In [32]:
df.head()

   Dimensions  Blocks  Threads  Time   Speedup
0         256     128        1  0.12  1.000000
1         256      64        2  0.13  1.083333
2         256      32        3  0.13  1.083333
3         256      16        4  0.12  1.000000
4         256       8        5  0.13  1.083333

In [33]:
df.tail()

     Dimensions  Blocks  Threads  Time   Speedup
346        8192     128        6  0.31  0.032025
347        8192      64        7  0.29  0.029959
348        8192      32        8  0.29  0.029959
349        8192      16        9  0.30  0.030992
350        8192       8       10  0.34  0.035124

In [34]:
import json

In [35]:
f = open('gpu_details.json')
data = json.load(f)
gpu_dict = json.loads(data)
type(gpu_dict)

dict

In [36]:
gpu_dict['device:0']

{'Device Name': 'NVIDIA GeForce GTX TITAN Black',
 'Compute Capability': 3.5,
 'Total Global Memory': 6229696.0,
 'Shared Memory per Block': 49152.0,
 'Registers per Block': 65536.0,
 'Warp Size': 32.0,
 'Maximum Threads per Block': 1024.0,
 'Thread Dimension Z': 1024.0,
 'Thread Dimension Y': 1024.0,
 'Thread Dimension X': 64.0,
 'Grid Size Z': 65535.0,
 'Grid Size Y': 65535.0,
 'Grid Size X': 2147483647.0,
 'Clock Rate': 980000.0,
 'Total Constant Memory': 65536.0,
 'Multiprocessor Count': 15.0,
 'integrated': 0.0,
 'Asynchronous Engine Count': 1.0,
 'Memory Bus Width': 384.0,
 'Memory Clock Rate': 3500000.0,
 'L2 Cache Size': 1572864.0,
 'Maximum Threads per Multiprocessor': 2048.0,
 'Concurrent Kernels': 1.0}

In [37]:
for key, value in gpu_dict['device:0'].items():
    df[key] = np.array([value for i in range(df.shape[0])]).T

In [38]:
df.head()

,Dimensions,Blocks,Threads,Time,Speedup,Device Name,Compute Capability,Total Global Memory,Shared Memory per Block,Registers per Block,...,Clock Rate,Total Constant Memory,Multiprocessor Count,integrated,Asynchronous Engine Count,Memory Bus Width,Memory Clock Rate,L2 Cache Size,Maximum Threads per Multiprocessor,Concurrent Kernels
0,256,128,1,0.12,1.000000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,980000.0,65536.0,15.0,0.0,1.0,384.0,3500000.0,1572864.0,2048.0,1.0
1,256,64,2,0.13,1.083333,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,980000.0,65536.0,15.0,0.0,1.0,384.0,3500000.0,1572864.0,2048.0,1.0
2,256,32,3,0.13,1.083333,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,980000.0,65536.0,15.0,0.0,1.0,384.0,3500000.0,1572864.0,2048.0,1.0
3,256,16,4,0.12,1.000000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,980000.0,65536.0,15.0,0.0,1.0,384.0,3500000.0,1572864.0,2048.0,1.0
4,256,8,5,0.13,1.083333,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,980000.0,65536.0,15.0,0.0,1.0,384.0,3500000.0,1572864.0,2048.0,1.0

In [39]:
f = open('bow_1.json')
data = json.load(f)
bow_dict = json.loads(data)
type(bow_dict)

dict

In [40]:
for key, value in bow_dict.items():
    df[key] = np.array([value for i in range(df.shape[0])]).T

In [41]:
df.shape

(351, 37)

In [42]:
df.to_csv('matmul_final.csv', index = False)

In [43]:
df = pd.read_csv('vectoradd.csv')
df.head()

   Dimensions  Blocks  Threads  Time  Speedup
0           2       1        1  0.09    1.000
1           2       1        2  0.09    1.000
2           2       1        3  0.09    1.000
3           2       1        4  0.09    1.000
4           2       1        5  0.08    1.125

In [44]:
f = open('bow.json')
data = json.load(f)
bow_dict = json.loads(data)
type(bow_dict)

dict

In [45]:
for key, value in gpu_dict['device:0'].items():
    df[key] = np.array([value for i in range(df.shape[0])]).T

In [46]:
for key, value in bow_dict.items():
    df[key] = np.array([value for i in range(df.shape[0])]).T

In [47]:
df.shape

(4800, 37)

In [48]:
df.head()

,Dimensions,Blocks,Threads,Time,Speedup,Device Name,Compute Capability,Total Global Memory,Shared Memory per Block,Registers per Block,...,Concurrent Kernels,float,unsigned_int,int,num_blocks,num_grid,threads,cudaMalloc,cudaMemcpy(,cudaFree
0,2,1,1,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
1,2,1,2,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
2,2,1,3,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
3,2,1,4,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
4,2,1,5,0.08,1.125,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3

In [49]:
df.to_csv('vector_addition_final.csv', index = False)

In [50]:
df1 = pd.read_csv('matmul_final.csv')
df1.head()

,Dimensions,Blocks,Threads,Time,Speedup,Device Name,Compute Capability,Total Global Memory,Shared Memory per Block,Registers per Block,...,Concurrent Kernels,float,unsigned_int,int,num_blocks,num_grid,threads,cudaMalloc,cudaMemcpy(,cudaFree
0,256,128,1,0.12,1.000000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
1,256,64,2,0.13,1.083333,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
2,256,32,3,0.13,1.083333,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
3,256,16,4,0.12,1.000000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
4,256,8,5,0.13,1.083333,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3

In [51]:
final_df = pd.concat([df, df1])
final_df.shape

(5151, 37)

In [52]:
final_df.head()

,Dimensions,Blocks,Threads,Time,Speedup,Device Name,Compute Capability,Total Global Memory,Shared Memory per Block,Registers per Block,...,Concurrent Kernels,float,unsigned_int,int,num_blocks,num_grid,threads,cudaMalloc,cudaMemcpy(,cudaFree
0,2,1,1,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
1,2,1,2,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
2,2,1,3,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
3,2,1,4,0.09,1.000,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3
4,2,1,5,0.08,1.125,NVIDIA GeForce GTX TITAN Black,3.5,6229696.0,49152.0,65536.0,...,1.0,28,0,27,1,0,10,3,4,3

In [53]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5151 entries, 0 to 350
Data columns (total 37 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Dimensions                          5151 non-null   int64
 1   Blocks                              5151 non-null   int64
 2   Threads                             5151 non-null   int64
 3   Time                                5151 non-null   float64
 4   Speedup                             5151 non-null   float64
 5   Device Name                         5151 non-null   object
 6   Compute Capability                  5151 non-null   float64
 7   Total Global Memory                 5151 non-null   float64
 8   Shared Memory per Block             5151 non-null   float64
 9   Registers per Block                 5151 non-null   float64
 10  Warp Size                           5151 non-null   float64
 11  Maximum Threads per Block           5151 non-null   float64
 12  Thread Dimension Z                  5151 non-null   float64
 13  Thread Dimension Y                  5151 non-null   float64
 14  Thread Dimension X                  5151 non-null   float64
 15  Grid Size Z                         5151 non-null   float64
 16  Grid Size Y                         5151 non-null   float64
 17  Grid Size X                         5151 non-null   float64
 18  Clock Rate                          5151 non-null   float64
 19  Total Constant Memory               5151 non-null   float64
 20  Multiprocessor Count                5151 non-null   float64
 21  integrated                          5151 non-null   float64
 22  Asynchronous Engine Count           5151 non-null   float64
 23  Memory Bus Width                    5151 non-null   float64
 24  Memory Clock Rate                   5151 non-null   float64
 25  L2 Cache Size                       5151 non-null   float64
 26  Maximum Threads per Multiprocessor  5151 non-null   float64
 27  Concurrent Kernels                  5151 non-null   float64
 28  float                               5151 non-null   int64
 29  unsigned_int                        5151 non-null   int64
 30  int                                 5151 non-null   int64
 31  num_blocks                          5151 non-null   int64
 32  num_grid                            5151 non-null   int64
 33  threads                             5151 non-null   int64
 34  cudaMalloc                          5151 non-null   int64
 35  cudaMemcpy(                         5151 non-null   int64
 36  cudaFree                            5151 non-null   int64
dtypes: float64(24), int64(12), object(1)
memory usage: 1.5+ MB

In [54]:
final_df.to_csv('joint_mm_va.csv', index = False)